

.video-box{
  width: 700;
  height: 300;
  /* flex: .5; */
}

.listParent{
  height: 90%;
  overflow: auto;
  text-overflow: ellipsis;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
 /* padding: 10px;*/
  flex: 1 100%;
}

.header {
  color: white;
  background: #003466;
  padding-top: 1%;
  height:10%;
  font-size: 25px;
}
.list-group-item{
  background-color: #ffed90;
}
.footer {
  color: white;
  background: #003466;
}

.main {
  height: 90%;
  width: inherit;
  display: flex;  
  justify-content: center;
  align-content: center;
  resize: both;
  overflow: auto;
  margin: 0 auto;
  padding: 20px;
  background: rgb(244, 246, 247);
}
span{
  padding-top: 3px;
}
nav{
  /*padding-top: 10px;*/
  padding-left: 8%;
}
.breadcrumb{
  height:50px;
  background: #ffed90;
 /* padding:  4px 4px;*/
  margin-bottom: 0px;
}
.aside-1 {
  padding: 0;
  background: rgb(226, 225, 225);
}

.aside-2 {
  padding: 0;
  background: rgb(252, 251, 251);
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 5 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  /* padding: 2em;  */
}
